.menu{
    position: relative;
    background-color: rgb(49, 49, 49);
    text-align:left;
    box-shadow: -5px 5px rgb(0, 0, 0);
    justify-content: left;
    left: 0px;
    border-radius: 12px;
}

.header{
   position: relative;
   color: white;
   font-size: 35px;
   text-shadow: -5px 5px black;
   margin-left: 15px;
   margin-bottom: 5px;
   width: 90px;
   display:inline-table;
   height: 25px;
   border-radius: 0px;
   padding: 25px;
   opacity: 0.5;
   border-top :none;
   transition: font-size 0.3s ease-out;
   left: 65px;
   
}

.header:hover{
    color:rgb(255, 255, 255);
    font-size: 45px;
    opacity:1;
    border-top: 5px solid ;
    background-color: rgb(73, 72, 72);
}

.dropbox{
    width: 450px;
    margin-top: 25px;
    position:absolute;
    background-color: rgb(49, 49, 49);
    box-shadow: -5px 5px rgb(0, 0, 0);
}

.dropdown-content {
    display: none;
}

.header:hover .dropdown-content {
    display: grid;
    border: 2px solid black;
}

a {
    text-decoration: none; /* Убираем подчёркивание */
}


.logo{
    position: fixed; 
    top: 28px; 
    left: 22px; 
}

@font-face {
    font-family: "GNF";
    src: url("font/GNF.ttf");
}

body {
    background-color: rgb(77, 77, 77);
    font-family: "GNF", "Arial", sans-serif;
}
